/*Footer*/
footer{
    background-color: #1C2833 ;
    padding: 100px 15px;
}

/*Menu name*/
footer h6{
    position: relative;
    color: white;
    margin-bottom: 40px;
}

footer h6::before{
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: #39B0FF;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
}

/*Footer menu navigation link*/
footer a
{
    color: #BDC3C7;
}

footer a:hover
{
    text-decoration: none;
    color: white;
}

footer .social-media a
{
    margin-right: 16px;
    background-color: #797D7F;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    line-height: 40px;
    transition: all 0.5s ease;
}

footer .social-media a:hover
{
    background-color: white;
    color: #1C2833;
}

footer .category a,footer .rewards a{
    transition: all 0.3s ease;
}

footer .category a:hover,footer .rewards a:hover{
    padding-left: 12px;
    color: white;
}

@media (max-width: 767px) {
    footer .row
    {
        text-align: center;
    }

    /*Navigation title*/
    footer h6
    {
        color: white;
        margin-bottom: 30px;
    }

    footer .social-media h6
    {
        margin-bottom: 40px;
    }

    footer h6::before{
        left: 44%;
    }

    .category ,.rewards{
        margin-bottom: 60px;
    }

    /*Footer menu navigation link*/
    footer .social-media a
    {
        display: block;
        margin: auto;
        margin-bottom: 24px;
    }
}